<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="Bootstrap" charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  </head>
  <body class="tomato">
    <h1>Flask Title Blurb</h1>
    <p>Subtitles</p>
    <h2> {{ title }}  </h2>

    <ul>
      {% for compliment in compliments %}
      <li>{{ compliment.text}}</li>
      { % endfor %}
    </ul>
  </body>
</html>
